DEBUG_MODE=True
DJANGO_SECRET_KEY=django-insecure-some_hash_on_50_chars_with_spec_symbols

POSTGRES_DB=slideeeai
POSTGRES_USER=slideeeai_user
POSTGRES_PASSWORD=slideeeai_user_pass
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432

OPENAI_CLIENT_API_KEY=some-secret-key
OPENAI_IMAGE_CLIENT_API_KEY=some-secret-key
OPENAI_IMAGE_CLIENT_PROXY=some-secret-address

YANDEX_SDK_FOLDER_ID=some-secret-key
YANDEX_SDK_AUTH=some-secret-key

PAYKEEPER_USER=some-login
PAYKEEPER_PASSWORD=some-password
PAYKEEPER_POST_SECRET_WORD=some-secret-word
SERVER_PAYKEEPER=some-address

EMAIL_HOST=sm20.hosting.reg.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER = some_email_user
EMAIL_HOST_PASSWORD = some_email_password
