[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
openai = "*"
python-pptx = "*"
gunicorn = "*"
requests = "*"
django-cors-headers = "*"
drf-yasg = "*"
python-decouple = ">=3.8"
pytelegrambotapi = "==4.16.1"
psycopg = {extras = ["pool", "binary"], version = ">=3.2"}

[dev-packages]

[requires]
python_version = "3.12"
